<main>
  <h1>Tasks</h1>

  <form (ngSubmit)="addTask()">
    <mat-form-field>
      <input matInput type="text" placeholder="Task Name" [formControl]="taskForm.controls.name" autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!taskForm.controls.name.value.length">Add Task</button>
  </form>

  <div class="row">
    <div class="column">
      <h2><span [matBadge]="tasks | counter:false" matBadgeOverlap="false">In Progress</span></h2>
      <ul>
        <ng-container *ngFor="let task of tasks; let i = index">
        <li *ngIf="!task.completed">
          <mat-checkbox (change)="task.completed = true; updateTasks()" [checked]="false">{{ task.name }}</mat-checkbox>
          <button mat-icon-button color="warn" (click)="tasks.splice(i, 1); updateTasks()">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
        </ng-container>
      </ul>
    </div>
    <div class="column">
      <h2><span [matBadge]="tasks | counter:true" matBadgeOverlap="false">Completed</span></h2>
      <ul>
        <ng-container *ngFor="let task of tasks; let i = index">
          <li *ngIf="task.completed">
            <mat-checkbox (change)="task.completed = false; updateTasks()" [checked]="true">{{ task.name }}</mat-checkbox>
            <button mat-icon-button color="warn" (click)="tasks.splice(i, 1); updateTasks()">
              <mat-icon>delete</mat-icon>
          </button>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</main>
