main {
  width: 70%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

h1, h2 {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

@media (max-width: 800px) {
  .row {
    display: block;
  }
}
